header {
  width: 100%;
  border-bottom: 1px solid var(--primary);
}
.container {
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  position: sticky;
  background-color: #fff;
  margin: 2rem auto;
}
.btn_container {
  .buttons {
    height: 16px;
    display: inline-flex;
    align-items: flex-start;
    gap: 14px;
  }
}
.wrapper {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 0 10%;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    padding: unset;
    margin: 0 5%;
    align-items: center;
  }
}
