.wrapper {
  padding: 20px 0;
  display: flex;
  flex-flow: column;
  gap: 20px;
  max-width: 50%;
  button {
    align-self: flex-start;
    color: black;
  }
  .clicked {
    background-color: var(--primary);
  }
  .unClicked {
    background-color: var(--secondary);
  }
  .container {
    text-decoration: unset;
    .inner {
      display: flex;
      gap: 20px;
      img {
        max-width: 50px;
      }
      p {
        font-size: 4rem;
        text-decoration: unset;
      }
    }
  }
}
